@tailwind base;
@tailwind components;
@tailwind utilities;

/*HEX => RGB*/
/*
#282828 => 40 40 40
#000000 => 0 0 0
#767676 => 118 118 118
#D9D9D9 => 217 217 217
#FFFC32 => 255 255 50
#FFFD84 => 255 255 216
*/

    ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

   ::-webkit-scrollbar-track {
    background-color: #282828;
}

    ::-webkit-scrollbar-thumb {
    background: #FFFC32;
    border-radius: 5px;
}

@layer base {
  :root {
    --color-primaryBackground: 0 0 0;
    --color-secondaryBackground: 40 40 40;

    --color-primaryTextColor: 217 217 217;
    --color-secondaryTextColor: 118 118 118;
    --color-thirdTextColor: 118 118 118;

    --color-primaryAccentColor: 255 255 50;
    --color-secondaryAccentColor: 255 255 216;

    --color-sectionTitleColor: 255 255 255;
    --color-iconColor: 255 255 255;

    --color-primaryScrollbarTrack: 40 40 40;
    --color-primaryScrollbarThumb: 255 255 50;

    --font-mono: ui-monospace, Melno, Monaco, Consolas, "Coscadia Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monosapce", "Fira Mono", "Droid Sans Mono", "Courier Nem" monospace
  }


  @media (prefes-color-scheme: dark) {
  :root {
    --color-primaryBackground: 217 217 217;
    --color-secondaryBackground: 40 40 40;

    --color-primaryTextColor: 217 217 217;
    --color-secondaryTextColor: 118 118 118;

    --color-primaryAccentColor: 255 255 50;
    --color-secondaryAccentColor: 255 255 216;

    --color-sectionTitleColor: 255 255 255;
    --color-iconColor: 255 255 255;

    --color-scrollbarTrack: 40 40 40;
    --color-scrollbarThumb: 255 255 50;
  }
  }
    /* If the user switchs dark mode */
  :root[class="dark"] {
    --color-primaryBackground: 0 0 0;
    --color-secondaryBackground: 40 40 40;

    --color-primaryTextColor: 217 217 217;
    --color-secondaryTextColor: 118 118 118;

    --color-primaryAccentColor: 255 255 50;
    --color-secondaryAccentColor: 255 255 216;

    --color-sectionTitleColor: 255 255 255;
    --color-iconColor: 255 255 255;

    --color-scrollbarTrack: 40 40 40;
    --color-scrollbarThumb: 255 255 50;
  }

  /* If the user switchs light mode */
  :root[class="light"] {
    --color-primaryBackground: 217 217 217;
    --color-secondaryBackground: 40 40 40;
    --color-textColor: 0 0 0;
    --color-primaryAccentColor: 255 255 50;
    --color-secondaryAccentColor: 255 255 216;
    --color-iconColor: 255 255 255;
    --color-scrollbarTrack: 255 255 216;
    --color-scrollbarThumb: 217 217 217;
  }
}

@layer base {
  .container {
    @apply
      bg-primaryBackground
      items-stretch
      h-screen
      snap-y
      snap-mandatory
      overflow-y-scroll
      md:overscroll-none
      overflow-x-hidden
      z-0
      m-auto
      px-2
      relative
      w-[360px]
      md:w-[768px]
      lg:w-[1440px]
      xl:w-[1920px]
  }

  .section {
    @apply
    h-screen
    md:h-auto
    snap-start
    scroll-mt-16
    md:scroll-mt-32
    flex
    items-center
  }
}





@layer swipper {
  .swiper-button-next, .swiper-button-prev{
    @apply
    w-0
    !important 
  }

 .swiper-button-next::after,
  .swiper-button-prev::after {
    @apply 
    text-[rgb(255,255,50)]
    text-base
    !important
  }
 .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    @apply opacity-0;
  }

  .swiper-scrollbar-drag {
    @apply
    text-[rgb(255,255,50)]
    relative
    !important
  }
 

}

@layer teamCad {

.overlay {
    @apply 
      absolute 
      left-0 
      top-0 
      h-full 
      w-full 
      bg-[#D9D9D9]
      rounded-[25px_25px_0_25px]
}
.overlay::before,
.overlay::after {
  @apply content-[''] absolute right-0 -bottom-10 h-10 w-10 bg-[#D9D9D9] border-none;
}

.overlay::after{
  @apply
    rounded-[0_25px_0_0]
  bg-[#282828]
}
}

@layer components {
  .sectionTitle {
    @apply
      uppercase
      tracking-[3px]
      text-primaryTextColor
      text-2xl
      xl:text-4xl
      mb-[50px]
  }
  .sectionContentWrapper {
    @apply
      w-full 
      text-left
      text-sm
      lg:text-lg
      xl:text-2xl
      px-6
      md:pl-[100px]
  }



}

@layer components {
  
  .footerBtn {
    @apply
    text-xl
    uppercase
    tracking-widest
    text-white
    transition-all
    hover:border-b
    hover:border-[#F7AB0A]/70
    hover:text-[#F7AB0A]/70
  }
}