@tailwind base;
@tailwind components;
@tailwind utilities;

/*HEX => RGB*/
/*
#282828 => 40 40 40
#000000 => 0 0 0
#767676 => 118 118 118
#D9D9D9 => 217 217 217
#FFFC32 => 255 255 50
#FFFD84 => 255 255 216
*/

@layer base {
  :root {
    --color-primaryBackground: 0 0 0;
    --color-secondaryBackground: 40 40 40;

    --color-primaryTextColor: 217 217 217;
    --color-secondaryTextColor: 118 118 118;
    --color-thirdTextColor: 118 118 118;

    --color-primaryAccentColor: 255 255 50;
    --color-secondaryAccentColor: 255 255 216;

    --color-sectionTitleColor: 255 255 255;
    --color-iconColor: 255 255 255;

    --color-primaryScrollbarTrack: 40 40 40;
    --color-primaryScrollbarThumb: 255 255 50;
  }
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgb(40, 40, 40);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 50);
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 50);
}

  @media (prefes-color-scheme: dark) {
  :root {
    --color-primaryBackground: 217 217 217;
    --color-secondaryBackground: 40 40 40;

    --color-primaryTextColor: 217 217 217;
    --color-secondaryTextColor: 118 118 118;

    --color-primaryAccentColor: 255 255 50;
    --color-secondaryAccentColor: 255 255 216;

    --color-sectionTitleColor: 255 255 255;
    --color-iconColor: 255 255 255;

    --color-scrollbarTrack: 40 40 40;
    --color-scrollbarThumb: 255 255 50;
  }
  }
    /* If the user switchs dark mode */
  :root[class="dark"] {
    --color-primaryBackground: 0 0 0;
    --color-secondaryBackground: 40 40 40;

    --color-primaryTextColor: 217 217 217;
    --color-secondaryTextColor: 118 118 118;

    --color-primaryAccentColor: 255 255 50;
    --color-secondaryAccentColor: 255 255 216;

    --color-sectionTitleColor: 255 255 255;
    --color-iconColor: 255 255 255;

    --color-scrollbarTrack: 40 40 40;
    --color-scrollbarThumb: 255 255 50;
  }

  /* If the user switchs light mode */
  :root[class="light"] {
    --color-primaryBackground: 217 217 217;
    --color-secondaryBackground: 40 40 40;
    --color-textColor: 0 0 0;
    --color-primaryAccentColor: 255 255 50;
    --color-secondaryAccentColor: 255 255 216;
    --color-iconColor: 255 255 255;
    --color-scrollbarTrack: 255 255 216;
    --color-scrollbarThumb: 217 217 217;
  }
}

@layer components {
  .section {
    @apply
   pb-12
  }

}

@layer components {
  
  .footerBtn {
    @apply
    text-xl
    uppercase
    tracking-widest
    text-white
    transition-all
    hover:border-b
    hover:border-[#F7AB0A]/70
    hover:text-[#F7AB0A]/70
  }

}
